# Always use https for secure connections
# Replace 'www.example.com' with your domain name
# (as it appears on your SSL certificate)

RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://www.ondecc.com/$1 [R=301,L]
